*~
**/.DS_Store

/bazel-*
.bazel-cache
/external

.idea/

.clwb

**/.vscode/tags
**/.vscode/launch.json
**/.vscode/settings.json
**/.vscode/tasks.json
**/.vscode/.vs_code_bazel_build/**
**/.vscode/ipch/
**/.vscode/*.log

.vagrant/
Vagrantfile

vcpkg_installed/

compile_commands.json
clang_tidy.log

/.bin
/.builds

__debug_*

.buildx_builder
.buildx

.env

tracer
